@font-face {
  font-family: "myfont";
  src: url(../font/Oswald-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "myfont";
  src: url(../font/Oswald-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "myfont";
  src: url(../font/Oswald-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "myfont";
  src: url(../font/Oswald-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

body {
  font-family: "myfont", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}